name: flutter_acpplaces
description: Adobe Experience Platform Places support for Flutter apps.
version: 1.0.0
author: Adobe Experience Platform SDK Team
homepage: https://aep-sdks.gitbook.io/docs/
repository: https://github.com/adobe/flutter-acpplaces

environment:
  sdk: ">=2.7.0 <3.0.0"
  flutter: ">=1.10.0 <2.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_acpcore: ">= 1.0.0 <2.0.0"

dev_dependencies:
  flutter_test:
    sdk: flutter

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  # This section identifies this Flutter project as a plugin project.
  # The 'pluginClass' and Android 'package' identifiers should not ordinarily
  # be modified. They are used by the tooling to maintain consistency when
  # adding or updating assets for this project.
  plugin:
    platforms:
      android:
        package: com.adobe.marketing.mobile.flutter
        pluginClass: FlutterACPPlacesPlugin
      ios:
        pluginClass: FlutterACPPlacesPlugin